{% extends 'base.html' %}
{% block title %}decrypt{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="card offset-sm-3 col-sm-6 mt-5" method="GET">
            <div class="card-body">
                <div class="mb-3">
                    <label for="numberInput" class="form-label">Your number</label>
                    <input type="text" class="form-control" id="numberInput" placeholder="enter your number">
                </div>
                <div class="mb-3">
                    <label for="radixInput" class="form-label">Your radix</label>
                    <input type="number" max="20" min="1" class="form-control" id="radixInput"
                        placeholder="enter your radix">
                </div>
                <div class="mb-3" id="resultArea">
                    <label for="resultInput" class="form-label">Your result:</label>
                    <input type="text" class="form-control" id="resultInput" placeholder="nothing yet..." disabled>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary" onclick="decrypt()" type="button">sumbit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}