{% extends 'base.html' %}
{% block title %}djnago number radix{% endblock title %}
{% block content %}
<div class="container">
    <div class="card offset-sm-3 col-sm-6 mt-5">
        <div class="card-header">
            Hello There!
        </div>
        <div class="card-body">
            <h5 class="card-title">Wellcome to djnago number radix!</h5>
            <p class="card-text">Chose your option.</p>
            <div class="d-grid gap-2">
                <a href="{% url 'encrypt-page' %}" type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                    data-placement="top" title="decimal to another radix">encrypt</a>
                <a href="{% url 'decrypt-page' %}" type="button" class="btn btn-outline-success" data-toggle="tooltip"
                    data-placement="bottom" title="another radix to decimal">decrypt</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}